# .env
# Store your private variables, API keys, and session tokens here.
# Make sure .env is in your .gitignore!

CODEFORCES_HANDLE="your_handle_here"

# For LeetCode (we will use these later)
LEETCODE_SESSION_COOKIE="your_leetcode_session_cookie"
LEETCODE_CSRF_TOKEN="your_csrf_token"

# Codeforces Authentication (Required for scraping source code)
# CODEFORCES_JSESSIONID="your_jsessionid_here"
# CODEFORCES_RCPC="your_rcpc_cookie_here"

